        <footer class="row">
            <div class="last-viewed">
                <a href="/ultimos-vistos">
                    <span class="title">Últimos produtos vistos</span>
                    <span class="icon icon-right-arrow"></span>
                </a>
            </div>
            <span class="color-bar row"></span>
            <div class="ml-info-box">
                <div class="desktop">
                    <p class="clearfix">
                        <a href="" class="redirect blank">Versão desktop</a>
                    </p>
                    <span>
                        Preços e condições de pagamento exclusivos para compras via internet e podem variar nas lojas físicas.<br>
                        Ofertas válidas até o término de nossos estoques para internet. Vendas sujeitas à análise e confirmação de dados.
                    </span>
                </div>
                <div class="general">
                    <span>
                        Rodovia dos Bandeirantes KM 68,760 - Rio Abaixo - CEP:13213-902 - Louveira/SP<br>
                        CNPJ: 47960950/0449-27
                        <p class="clearfix">
                            <a href="https://www.magazineluiza.com.br/central-de-atendimento/fale-conosco/" target="_blank" class="redirect">www.magazineluiza.com.br/formulariocontato</a>
                        </p>
                        ® 2016 Magazine Luiza
                        <p class="clearfix">
                            <a href="mailto:atendimento.site@magazineluiza.com.br" class="redirect">atendimento.site@magazineluiza.com.br</a>
                        </p>
                    </span>
                </div>
            </div>
        </footer>



