<div id="header">
    <div id="header-content" class="row">
        <div class="top row">
                    <h1>
                        <span class="icon icon-logo"></span>
                        <span class="hidden-text-indent">Magazine Luiza</span>
                    </h1>
                <div id="support-toggle">
                    <a class="icon-back redirect"></a>
                    <span class="seller-name"></span>
                </div>
                <div id="menu-toggle">
                    <span class="icon icon-drawer"></span>
                    <span class="hidden-text-indent">Menu</span>
                </div>
                <div id="search-toggle" class="hide">
                    <p>
                        <span class="icon icon-search"></span>
                        <span class="hidden-text-indent">Busca</span>
                    </p>
                </div>
                <div id="cart">
                    <a href="/carrinho">
                        <span class="icon icon-cart"></span>
                        <span class="hidden-text-indent">Carrinho</span>

                        <sup>
                            0
                        </sup>
                    </a>
                </div>
        </div>
        <div id="search" class="row clearfix hide">
            <form accept-charset="utf-8">
                <span class="cancel">cancelar</span>
                <div class="content-search-input">
                    <input type="search" id="id_search" name="search" value="" placeholder="Encontre seu produto" autocomplete="off" autocorrect="off" autocapitalize="none">
                    <span class="icon icon-search"></span>
                </div>
            </form>
        </div>
        <span class="color-bar row"></span>
    </div>
</div>


