<amp-sidebar id="sidebar"
  layout="nodisplay"
  side="left">
  <div class="navigation move"><div class="login-info">
  	<div class="content">

  		<a href="/identificacao/">
  			<span class="greeting">
  				<small>Olá.</small>
  				<small>Entre ou cadastre-se</small>
  			</span>
  		</a>

  	</div>
  	<div class="quick-access">
  		<div class="near-store">
  			<a href="/lojas-proximas">
  				<span class="icon icon-stores"></span>
  				<span class="text">Nossas lojas</span>
  			</a>
  		</div>
  		<div class="orders">
  			<a href="/meus-pedidos">
  				<span class="icon icon-orders"></span>
  				<span class="text">Seus pedidos</span>
  			</a>
  		</div>
  	</div>
  	<span class="menu-bar"></span>
  </div>
  <nav>
  	<ul class="menu-list subcategory-list">
  	</ul>
  	<ul class="menu-list category-list">
  		<ul class="special-list" style="display: block;">
  <li class="cat-item">
      <div class="menu-special">
          <a href="https://m.magazineluiza.com.br/s/saldao" class="menu-special redirect">
              <span class="name">
                  <small class="menu-font">Saldão</small>
              </span>
          </a>
      </div>
  </li>

  <li class="cat-item">
      <div class="menu-special">
          <a href="https://m.magazineluiza.com.br/s/maes" class="menu-special redirect">
              <span class="name">
                  <small class="menu-font">Dia das Mães</small>
              </span>
          </a>
      </div>
  </li>

  </ul>

  	    <li class="cat-item">
  	    	<div class="menu-category ar">
  		    	<span class="icon icon-categ-ar categ-color-ar icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Ar e Ventilação</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category am">
  		    	<span class="icon icon-categ-am categ-color-am icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Armarinhos</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category ea">
  		    	<span class="icon icon-categ-ea categ-color-ea icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Áudio</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category au">
  		    	<span class="icon icon-categ-au categ-color-au icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Automotivo</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category bb">
  		    	<span class="icon icon-categ-bb categ-color-bb icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Bebê</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category ba">
  		    	<span class="icon icon-categ-ba categ-color-ba icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Bebidas e Alimentos</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category cp">
  		    	<span class="icon icon-categ-cp categ-color-cp icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Beleza e Saúde</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category br">
  		    	<span class="icon icon-categ-br categ-color-br icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Brinquedos</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category cm">
  		    	<span class="icon icon-categ-cm categ-color-cm icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Cama, Mesa e Banho</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category cf">
  		    	<span class="icon icon-categ-cf categ-color-cf icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Câmeras e Filmadoras</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category cj">
  		    	<span class="icon icon-categ-cj categ-color-cj icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Casa e Jardim</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category te">
  		    	<span class="icon icon-categ-te categ-color-te icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Celulares e Smartphones</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category co">
  		    	<span class="icon icon-categ-co categ-color-co icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Colchões</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category ed">
  		    	<span class="icon icon-categ-ed categ-color-ed icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Eletrodomésticos</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category ep">
  		    	<span class="icon icon-categ-ep categ-color-ep icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Eletroportáteis</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category es">
  		    	<span class="icon icon-categ-es categ-color-es icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Esporte e Lazer</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category fs">
  		    	<span class="icon icon-categ-fs categ-color-fs icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Ferramentas e Segurança</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category ga">
  		    	<span class="icon icon-categ-ga categ-color-ga icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Games</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category in">
  		    	<span class="icon icon-categ-in categ-color-in icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Informática</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category ia">
  		    	<span class="icon icon-categ-ia categ-color-ia icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Informática e Acessórios</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category im">
  		    	<span class="icon icon-categ-im categ-color-im icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Instrumentos Musicais</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category pi">
  		    	<span class="icon icon-categ-pi categ-color-pi icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Linha Industrial</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category li">
  		    	<span class="icon icon-categ-li categ-color-li icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Livros</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category mo">
  		    	<span class="icon icon-categ-mo categ-color-mo icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Móveis e Decoração</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category pa">
  		    	<span class="icon icon-categ-pa categ-color-pa icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Papelaria</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category pf">
  		    	<span class="icon icon-categ-pf categ-color-pf icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Perfumaria</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category pe">
  		    	<span class="icon icon-categ-pe categ-color-pe icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Pet Shop</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category re">
  		    	<span class="icon icon-categ-re categ-color-re icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Relógios</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category sa">
  		    	<span class="icon icon-categ-sa categ-color-sa icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Suplementos Alimentares</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category tb">
  		    	<span class="icon icon-categ-tb categ-color-tb icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Tablets</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category tf">
  		    	<span class="icon icon-categ-tf categ-color-tf icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Telefonia Fixa</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category et">
  		    	<span class="icon icon-categ-et categ-color-et icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">TV e Vídeo</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	    <li class="cat-item">
  	    	<div class="menu-category ud">
  		    	<span class="icon icon-categ-ud categ-color-ud icon-categ"></span>
  		        <span class="name">
  		        	<small class="menu-font">Utilidades Domésticas</small>
  		        </span>
  		        <span class="icon icon-right-arrow icon-arrow"></span>
  		    </div>
  	    </li>

  	</ul>
  	<ul class="quick-access-list">
  	    <li class="cat-item one-click-buy">
  	    	<a href="/configurar-conta">
  				<span class="icon icon-cart icon-categ"></span>
  				<span class="name">
  					<small class="menu-font">Configuração de compra com 1-clique</small>
  				</span>
  			</a>
  		</li>
  		<li class="cat-item sac">
  			<a href="/outros-ddds">
  				<span class="icon icon-sac icon-categ"></span>
  				<span class="name menu-font">
  					<small class="menu-font">Compre pelo televendas</small>
  					<small class="subtitle">São Paulo e Grande São Paulo<br>(11) 3508-9900</small>
  				</span>
  			</a>
  		</li>
  		<li class="cat-item">
  			<a href="/sac">
  				<span class="icon icon-question icon-categ"></span>
  				<span class="name">
  					<small class="menu-font">Dúvidas frequentes</small>
  				</span>
  			</a>
  		</li>
          <li class="cat-item">
              <a href="/s/regulamentos">
                  <span class="icon icon-rules icon-categ"></span>
                  <span class="name">
                      <small class="menu-font">Regulamentos</small>
                  </span>
              </a>
          </li>
  		<li class="cat-item logout hide">
  			<div>
  				<span class="name">
  					<small class="menu-font">Não é ? Sair</small>
  				</span>

  		</div></li>
  		<span class="bottom"></span>
  	</ul>
  </nav>
  </div>
</amp-sidebar>
<div class="container ">
  {{partial "partials/header"}}
  {{outlet}}
  {{partial "partials/footer"}}
</div>
