<div class="sac-container">
  <h1>Dúvidas frequentes</h1>
  <section class="sac-list">
  <amp-accordion class="sac-list-container">
    {{#each model as |item| }}
      <section>
        <h1 {{action 'showContent'}}>{{item.title }}</h1>
        <div>{{{item.body}}}</div>
      </section>
    {{/each}}
 </amp-accordion>
 </section>
</div>
{{outlet}}
