<section class="sac-container">
  <h1>Dúvidas frequentes</h1>
  <ul class="sac-list-container">
    {{#each model as |item| }}
     {{#sac-list item=item}}{{/sac-list}}
    {{/each}}

 </ul>
</section>
{{outlet}}
